body {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    margin-bottom: 20px;
}

.image-container {
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-size: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0000;
}

button:active {
    background-color: #ff0000;
}