body {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}
button {
    display: block;
    width: 324px;
    padding: 10px;
    border-width: 0px;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

img {
    height: 1250px;
}